.card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
    position: relative;
    margin-top: 180px;
    padding: 30px;
}

.float_emoji{
  width: 65px;
  height: 65px;
}
.emoji_1 {
  position: absolute;
  top: -25px;
  left: 15%;
}
.emoji_2 {
  position: absolute;
  left: 20%;
  bottom: -65px;
}
.emoji_3 {
  position: absolute;
  right: 21%;
  bottom: 20px;
}
.card h1{
    color: rgb(224, 224, 224);
    margin: 0;
    font-size: 28px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.light-mode.home .card h1{
  color: #333;
  text-shadow: none;
}
.card h2{
    color: white;
    font-size: 64px;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: start;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.light-mode.home .card h2{
  color: #333;
  text-shadow: none;
}
.card p{
    color: white;
    font-size: 22px;
    margin: 0;
    margin-left: -10px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.light-mode.home .card p{
  color: #333;
  text-shadow: none;
}
.card h3{
    color: rgb(224, 224, 224);
    font-size: 20px;
    font-weight: 300;
    margin-top: 8px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.light-mode.home .card h3{
  color: #333;
  text-shadow: none;
}
.card span{
    white-space: nowrap;
}

.photoprofile img{
    width: 240px;
    height: 240px;
    clip-path: ellipse(50% 50%) ;
}
/* Ajoutez ces styles à votre fichier CSS */
.rocketAnimation {
  animation-name: rocketLaunch;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rocketLaunch {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-1000px) translateX(1000px);
  }
}

@media (max-width: 1500px){
.emoji_1 {
    left: 12%;
}
.emoji_2 {
    left: 16%;
}
.emoji_3 {
  right: 16%;
}
}
@media (max-width: 1300px){
.emoji_1 {
    left: 5%;
}
.emoji_2 {
    left: 10%;
}
.emoji_3 {
  right: 8%;
}
}
@media (max-width: 1173px) {
  .float_emoji{
    display: none;
  }
}
  
  @media (max-width: 720px) {
    .card{
        flex-direction: column-reverse;
        padding: 15px;
        margin-top: 70px;
        gap: 12px;
    }
    
    .photoprofile img{
        width: 150px;
        height: 150px;
    }
    .card h2{
        font-size: 38px;
    }
    .card p{
        font-size: 18px;
    }
    .card h1{
        font-size: 22px;
    }
    .card h3{
        font-size: 18px;
    }
  }