.competences {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.competences h2 {
  color: white;
  letter-spacing: 3px;
  font-size: 38px;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.compcontainer{
  background-color: #740cdc;
  padding: 20px;
  border-radius: 28px;
  min-width: 250px;
  height: fit-content;
  box-shadow: 8px 8px 0px #fff;
}
.typecompetences {
  display: flex;
  gap: 25px;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 30px;
  justify-content: center;
}
.typecompetences h3 {
  color: white;
  margin-top: 0;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.typecompetences ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  align-items: flex-start;
}
.typecompetences li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.logocomp img {
  width: 40px;
  height: 40px;
}
.logocomp span {
  color: white;
}
@media (max-width: 720px) {
  .typecompetences {
    padding: 15px;
    width: auto;
    justify-content: center;
  }
  .typecompetences ul {
    gap: 10px;
  }
  .compcontainer {
    margin-top: 22px;
  }
}
@media (max-width: 490px) {
  .typecompetences {
    flex-direction: column;
    gap: 0;
  }
}
