.competences{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.competences h1{
    color: white;
    letter-spacing: 3px;
    font-size: 38px;
    margin-bottom: 0;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.typecompetences{
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}
.typecompetences h2{
    color: white;
    margin-top: 0;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.typecompetences ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    align-items: flex-start;
}
.typecompetences li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.logocomp img{
    width: 35px;
    height: 35px;
}
.logocomp span{
    color: white;
}
@media (max-width: 720px) {
    .typecompetences{
        padding: 15px;
    }
    .typecompetences ul{
        gap: 8px;
    }
}
@media (max-width: 490px) {
    .typecompetences{
        flex-direction: column;
        gap: 0;
    }
}