@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./assets/font/Poppins-Regular.ttf");
}
:root{
  background-color: #222 ;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  overflow-x: hidden; 
}

body{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #222;
}
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}
body::-webkit-scrollbar-button {
  display:none;
}

textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}
textarea::-webkit-scrollbar-button {
  display:none;
}
a{
  text-decoration: none;
}

